.bg-layout {
    background-color: hsl(228deg 12% 92%);
    min-height: 100vh !important;

    .layout-container{
       width:600px;
        min-height: 100vh;
        background-color: white;
        @media screen and (max-width:600px){
            width:100% !important;  
        }
    }
}